<h1>Modificar Comentario</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @comentario %> |
<!-- %= link_to 'Regresar', articulo_path(@comentario.articulo_id) % -->
<%= link_to 'Regresar', @comentario.articulo %>
