<p id="notice"><%= notice %></p>

<h1>Listando Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.cuerpo %></td>
        <td><%= comentario.fecha %></td>
        <td><%= link_to 'Mostrar', comentario %></td>
        <td><%= link_to 'Modificar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Eliminar', comentario, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Comentario Nuevo', new_comentario_path %>
