<h1>Comentario Nuevo: <%= @articulo.titulo %></h1>

<%= render 'form' %>

<!-- %= link_to 'Regresar', articulo_path(@comentario.articulo_id) % -->
<!-- %= link_to 'Regresar', :back % -->
<%= link_to 'Regresar', @comentario.articulo %>