<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @comentario.autor %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @comentario.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha %>
</p>

<%= link_to 'Modificar artículo', edit_comentario_path(@comentario) %> |
<!-- %= link_to 'Regresar al artículo', articulo_path(@comentario.articulo_id) % -->
<%= link_to 'Regresar al artículo', @comentario.articulo %>
