/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

/*
Esto es una sección de pruebas
* { color: blue; }
form * { color:purple; }
label { background-color: yellow;}
.field { text-align: right; }
.new_comentario { margin-right: 40px; }
#tit { background-color: #FF0000; }
th { background-color: #00FF00; }
th:hover { color: #FFDDAA; }

tr:first-child { background-color: #AAFF00; }
tr td:last-child, tr td:nth-child(4), tr td:nth-child(5)   { background-color: #FF0123; }
*/


/*
body {
    background-color: #F8F8FF;
    text-align: center;
    align: center;
}

h1 {
    color: #2F4F4F;
}

*/




