<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @articulo.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>

<!-- %= link_to 'Comentario Nuevo', new_comentario_path % -->
<%= link_to 'Comentario Nuevo', new_comentario_path(articulo_id: @articulo.id) %> |
<%= link_to 'Modificar artículo', edit_articulo_path(@articulo) %> |
<%= link_to 'Regresar a artículos', articulos_path %>

<h1 id="tit">Comentarios</h1>

<% unless @articulo.comentarios.blank? %>
  <% @articulo.comentarios.each_with_index do |comentario, i| %>
    <ul>
      <li><%= i+1 %>º Comentario:
        <ul>
          <li>Autor: <%= comentario.autor %></li>
          <li>Cuerpo: <%= comentario.cuerpo %></li>
          <li>Fecha: <%= comentario.fecha %></li>
        </ul>
      </li>
    </ul>
  <% end %>
<% else %>
  <ul>
    <li>Este artículo aún no tiene comentarios.</li>
  </ul>
<% end %>
